body {
  background-color: #727272;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  padding: 100px;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#mainLogo {
  width: 496px;
  height: 192px;
  left: 30px;
}
#joinValueContainer {
  background-color: white;
  width: 579px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
}
.inputContainer {
  width: 450px;
}
.inputLabel {
  font-size: 20px;
}
.inputBox {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin: 10px 0 10px 0;
  position: relative;
}
#duplicateIDCheckBtn {
  position: absolute;
  background-color: #3e84e1;
  color: white;
  width: 66px;
  height: 34px;
  border: none;
  border-radius: 10px;
  margin: 15px 0 0 0;
  right: 170px;
  cursor: pointer;
}
#visiblePW {
  position: absolute;
  margin: 25px 0 0 -45px;
  cursor: pointer;
}
#enterBtn {
  color: white;
  background-color: #3e84e1;
  font-size: 30px;
  font-weight: 800;
  width: 100%;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin: 20px 0 20px 0;
}
#rowInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rowInput {
  display: flex;
  flex-direction: column;
}
.selectBox {
  width: 139px;
  height: 45px;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
}
.active {
  display: none;
}
#extraFunctions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
